/**
https://www.freecodecamp.org/portuguese/news/como-criar-uma-galeria-de-imagens-com-o-css-grid/
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
}
.cabecalho {
  display: flex;
  align-items: center;
  background: #bbbbbb;
  color: chocolate;
  font-size: 1.375rem;
  text-transform: uppercase;
  font-weight: bold;
}

#logo-cabecalho {
  width: 5.25rem;
  margin-left: 1.375rem;
}
#menuToggle input {
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

#menuToggle {
  display: flex;
  margin-left: 940px;
}

#menu li {
  display: inline-flex;
  padding: 0.5rem;
}

#menu li a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 1.375rem;
  text-decoration: none;
}
/*Menu Responsivo*/
@media (max-width: 768px) {
  #menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #000;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #cccc;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
/*Final do menu responsivo*/

.titulo {
  margin-left: 1.25rem;
  display: inline-block;
  border-right: 2px solid #000;
  padding-right: 3px;
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: pisca normal infinite 0.8s, escrever normal 5s steps(55) infinite;
}
@keyframes pisca {
  100% {
    border-right-color: transparent;
  }
}
@keyframes escrever {
  100% {
    max-width: 100%;
  }
}

#banner {
  margin-top: 0;
  width: 100%;
}

/*CSS DA GALERIA*/
.galery {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.title-galery {
  display: block;
  text-align: center;
  border: 0.05rem solid black;
  background: #bbbbbb;
  color: chocolate;
  font-size: 1.375rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem;
}
.container-galeria {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 300px;
  padding-top: 1.5rem;
  grid-gap: 5px;
}

.item-galeria {
  position: relative;
}

.item-galeria .img-galeria {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-galeria .title-galeria {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 10px;
  font-size: 16pt;
  font-family: "Quicksand";
}

.h-1 {
  grid-row: span 1;
}

.h-2 {
  grid-row: span 2;
}

.w-1 {
  grid-column: span 1;
}

.w-2 {
  grid-column: span 2;
}

@media (max-width: 768px) {
  .container-galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 50vh;
  }

  .h-2 {
    grid-row: span 1;
  }

  .w-2 {
    grid-column: span 1;
  }
}
/*FIM DO CSS DA GALERIA*/

/*CSS DOS PROTUDOS*/
.itensProduto {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.itensProduto li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  border: 0.25rem solid black;
  border-radius: 10%;
}
.itensProduto h2 {
  text-size-adjust: 20px;
  text-align: center;
  color: chocolate;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 0;
}

#beneficios {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

p {
  text-align: center;
  color: black;
}

#missao {
  font-size: 1.25rem;
}

p strong {
  color: chocolate;
}

p em strong {
  color: red;
}

.beneficios {
  background: #fff;
}

.text-beneficios {
  display: inline-block;
  vertical-align: top;
  margin-right: 15%;
  width: 20%;
  font-weight: bold;
}

.itens {
  font-style: italic;
}

.imgbeneficios {
  width: 50%;
}

footer {
  background: #bbbbbb;
  border: 0.05rem solid black;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 1.25rem;
  margin-top: 1.5rem;
}
.footer {
  text-size-adjust: 8px;
  text-align: center;
  color: chocolate;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: pisca normal infinite 0.8s, escrever normal 5s steps(55) infinite;
}
