@import "style.css";

body {
    margin: 0;
    padding: 0;
}

main {
    background: var(--background-gradiente);

}

.main-contanair {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.titulo-pricipal:first-letter {
    font-weight: bold;
    color: var(--segundaria-color);
}

p::first-line {
    font-style: italic;
}

.mapa {
    height: 200%;
    text-align: center;
    padding: 0 0 0 5em;
}

.mapa p {
    margin: 0 0 2em;
}

.formDados {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.formDados label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.formDados input {
    padding: 5px;
    margin-bottom: 10px;
}

#cxTextoArea {
    margin-bottom: 15px;
}

.chkRadio {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.chkRadio label {
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    margin-right: 9%;
}

.chkRadio input {
    margin-left: 20px;
}

.horario {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    justify-content: space-evenly;
}

.horario label {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.horario input {
    border-radius: 15px;
}

.horario select {
    padding: 6px;
    border-radius: 15px;
    margin-bottom: 9px;
}

fieldset {
    margin-bottom: 15px;
}

.chkNewLallter {
    margin-bottom: 15px;
}

.chkNewLallter label {
    font-size: 18px;
    font-weight: normal;
    text-transform: none;

}

.divBtnEnviar {
    display: flex;
    justify-content: center;
}

.btnEnviar {
    background: var(--segundaria-color);
    color: var(--primaria-color);
    width: 200px;
    border: none;
    border-radius: 20px;
    transition: 1s all;
    cursor: pointer;
}

.btnEnviar:hover {
    background: var(--hover-color-bg);
    transform: scale(1.2);
}

.tabHorario {
    padding: 5px;
    border: 1px solid #000000;
    margin-bottom: 20px;
    margin-left: 43%;
}

.tabHorario thead {
    color: var(--primaria-color);
    font-weight: bold;
    background: var(--background-primario);
}

.tabHorario td {
    border: 1px solid #000000;
    padding: 6px 15px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .main-contanair {
        flex-direction: column;
        align-items: center;
    }

    .cabecalho h1 {
        margin: 0;
        padding: 0;
    }

    .menu ul {
        margin: 0;
        padding: 0;
    }

    .mapa {
        width: 85%;
        margin: 0;
        padding: 0;
    }

    .formDados {
        width: 88%;
    }

    .horario label {
        display: flex;
        flex-direction: column;
    }

    .tabHorario {
        margin: 0;
        align-items: center;
    }
}