/**
https://www.freecodecamp.org/portuguese/news/como-criar-uma-galeria-de-imagens-com-o-css-grid/
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
}
.cabecalho {
  display: flex;
  align-items: center;
  background: #bbbbbb;
  color: chocolate;
  font-size: 1.375rem;
  text-transform: uppercase;
  font-weight: bold;
}

#logo-cabecalho {
  width: 5.25rem;
  margin-left: 1.375rem;
}

nav {
  position: absolute;
  margin-left: 62.5rem;
}

nav ul li {
  display: inline-flex;
  padding: 0.5rem;
}

nav ul li a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 1.375rem;
  text-decoration: none;
}

.titulo {
  margin-left: 1.25rem;
  display: inline-block;
  border-right: 2px solid #000;
  padding-right: 3px;
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: pisca normal infinite 0.8s, escrever normal 5s steps(55) infinite;
}
@keyframes pisca {
  100% {
    border-right-color: transparent;
  }
}
@keyframes escrever {
  100% {
    max-width: 100%;
  }
}

#banner {
  margin-top: 0;
  width: 100%;
}

/*CSS DA GALERIA*/
.galery {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.title-galery {
  display: block;
  text-align: center;
  border: 0.05rem solid black;
  background: #bbbbbb;
  color: chocolate;
  font-size: 1.375rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem;
}
.container-galeria {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 300px;
  padding-top: 1.5rem;
  grid-gap: 5px;
}

.item-galeria {
  position: relative;
}

.item-galeria .img-galeria {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-galeria .title-galeria {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 10px;
  font-size: 16pt;
  font-family: "Quicksand";
}

.h-1 {
  grid-row: span 1;
}

.h-2 {
  grid-row: span 2;
}

.w-1 {
  grid-column: span 1;
}

.w-2 {
  grid-column: span 2;
}

@media (max-width: 768px) {
  .container-galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 50vh;
  }

  .h-2 {
    grid-row: span 1;
  }

  .w-2 {
    grid-column: span 1;
  }
}
/*FIM DO CSS DA GALERIA*/

#beneficios {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

p {
  text-align: center;
  color: black;
}

#missao {
  font-size: 1.25rem;
}

p strong {
  color: chocolate;
}

p em strong {
  color: red;
}

.beneficios {
  background: #fff;
}

.text-beneficios {
  display: inline-block;
  vertical-align: top;
  margin-right: 15%;
  width: 20%;
  font-weight: bold;
}

.itens {
  font-style: italic;
}

.imgbeneficios {
  width: 50%;
}

footer {
  background: #bbbbbb;
  border: 0.05rem solid black;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 1.25rem;
  margin-top: 1.5rem;
}
.footer {
  text-size-adjust: 8px;
  text-align: center;
  color: chocolate;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: pisca normal infinite 0.8s, escrever normal 5s steps(55) infinite;
}
