@import "style.css";

.cabecalho {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: var(--background-primario);
  color: var(--primaria-color);
  font-size: 1.375rem;
  text-transform: uppercase;
  font-weight: bold;
}
.cabecalho h1 {
  display: flex;
  font-size: 1.875rem;
  border-right: 2px solid var(--border-color);
  padding-right: 3px;
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: pisca normal infinite 0.8s, escrever normal 5s steps(55) infinite;
}

.cabecalho img {
  margin: 0;
  width: 5.25rem;
}

.menu li {
  display: inline-flex;
  padding: 0.5rem;
}

.menu li a {
  text-transform: uppercase;
  color: var(--primaria-color);
  font-weight: bold;
  font-size: 1.875rem;
  text-decoration: none;
}
.menu a:hover {
  color: var(--segundaria-color);
}
@media (max-width: 768px) {
  .menu li a {
    font-size: 18px;
  }
}
@keyframes pisca {
  100% {
    border-right-color: transparent;
  }
}
@keyframes escrever {
  100% {
    max-width: 100%;
  }
}
