@import "style.css";

main {
  width: 940px;
  margin: 0 auto;
}

.formDados {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 40px 0;
}
.formDados label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.formDados input {
  padding: 5px;
  margin-bottom: 10px;
}
#cxTextoArea {
  margin-bottom: 15px;
}
.chkRadio {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.chkRadio label {
  font-size: 17.5px;
  font-weight: normal;
  text-transform: none;
  margin-right: 15%;
}
#chkSelect {
  width: 25%;
  padding: 5px;
}

.chkNewLallter label {
  font-size: 17.5px;
  font-weight: normal;
  text-transform: none;
}
.divBtnEnviar {
  display: flex;
  justify-content: center;
}
.btnEnviar {
  background: var(--segundaria-color);
  color: var(--primaria-color);
  width: 200px;
  border: none;
  border-radius: 20px;
}
.btnEnviar:hover {
  background: var(--hover-color-bg);
  width: 250px;
  padding: 10px 0;
  margin: 0;
}
