.banner {
  margin-top: 0;
  width: 100%;
}

/*CSS DA GALERIA*/
.galery {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.title-galery {
  display: block;
  text-align: center;
  border: 0.05rem solid var(--quarta-color);
  background: var(--background-primario);
  color: var(--segundaria-color);
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem;
}
@media (max-width: 768px) {
  .title-galery {
    font-size: 20px;
  }
}

.container-galeria {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 300px;
  padding-top: 1.5rem;
  grid-gap: 5px;
}

.item-galeria {
  position: relative;
}

.item-galeria .img-galeria {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-galeria .title-galeria {
  position: absolute;
  background-color: var(--backgroud-color);
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--primaria-color);
  padding: 10px;
  font-size: 16pt;
  font-family: "Quicksand";
}

.h-1 {
  grid-row: span 1;
}

.h-2 {
  grid-row: span 2;
}

.w-1 {
  grid-column: span 1;
}

.w-2 {
  grid-column: span 2;
}

@media (max-width: 768px) {
  .container-galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 50vh;
  }

  .h-2 {
    grid-row: span 1;
  }

  .w-2 {
    grid-column: span 1;
  }
}
/*FIM DO CSS DA GALERIA*/

/*CSS DOS PROTUDOS*/
.itensProduto {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.itensProduto li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  border: 5px solid var(--border-color);
  border-radius: 10%;
  margin: 0 1.5%;
  padding: 25px 20px;
  box-sizing: border-box;
}
.itensProduto li:hover {
  border-top-width: 10px;
  border-bottom: 40px;
  border-color: var(--segundaria-color);
  color: var(--segundaria-color);
  padding: 22px;
}
.itensProduto li:active {
  border-color: var(--segundaria-color);
}

.itensProduto h2 {
  font-size: 25px;
  text-align: center;
  color: var(--quarta-color);
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 0;
}
.itensProduto li:hover h2 {
  border-top-width: 10px;
  border-color: var(--segundaria-color);
  color: var(--segundaria-color);
}

.itensProduto p {
  font-size: 1.375rem;
  margin-bottom: 15px;
  color: var(--quarta-color);
}

.itensProduto R1 {
  font-size: 1.575rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .itensProduto {
    justify-content: center;
    align-items: center;
    padding: 12% 18% 0;
  }

  .itensProduto li {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .itensProduto h2 {
    padding-top: 0;
  }
}
#beneficios {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.texto-sobre p {
  margin-top: 1.25rem;
  text-align: center;
  color: var(--quarta-color);
  font-size: 23px;
}

#missao {
  font-size: 28px;
  text-align: center;
}

.texto-sobre p strong {
  color: var(--segundaria-color);
}

.texto-sobre p em strong {
  color: var(--terceira-color);
}

.beneficios {
  background: var(--primaria-color);
}

.text-beneficios {
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
  margin-right: 15%;
  width: 30%;
  font-weight: bold;
  font-size: 25px;
}

.itens {
  display: flex;
  margin-left: 28%;
  font-style: italic;
}

.imgbeneficios {
  width: 50%;
}
@media (max-width: 768px) {
  .imgbeneficios {
    margin-top: 30px;
    width: 100%;
  }

  .text-beneficios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 20px;
  }
  .itens {
    display: flex;
    margin-left: 0;
    font-style: italic;
  }
  .text-beneficios li {
    display: inline-flex;
  }
}
.btnVoltar {
  display: flex;
  justify-content: end;
}
.btnVoltar img {
  cursor: pointer;
  padding: 10px;
  position: fixed;
  top: 90%;
  right: 40px;
  width: 5.25rem;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .btnVoltar {
    font-size: 13px;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 800px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 851px) {
  .btnVoltar {
    font-size: 13px;
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 12px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .btnVoltar {
    display: flex;
    justify-content: end;
  }
  .btnVoltar img {
    padding: 0;
    position: fixed;
    top: 90%;
    width: 70px;
    right: 40px;
    margin-bottom: 15px;
  }
}
