* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
}
.cabecalho {
  display: flex;
  align-items: center;
  background: #bbbbbb;
  color: chocolate;
  font-size: 1.375rem;
  text-transform: uppercase;
  font-weight: bold;
}

#logo-cabecalho {
  width: 5.25rem;
  margin-left: 1.375rem;
}

nav {
  position: absolute;
  margin-left: 62.5rem;
}

nav ul li {
  display: inline-flex;
  padding: 0.5rem;
}

nav ul li a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 1.375rem;
  text-decoration: none;
}

.titulo {
  margin-left: 1.25rem;
}

#banner {
  margin-top: 0;
  width: 100%;
}

.principal {
  background: #cccccc;
  padding: 1.25rem;
}

.subtitulo {
  text-align: center;
  color: chocolate;
  padding: 1.25rem;
}

p {
  text-align: center;
  color: black;
}

#missao {
  font-size: 1.25rem;
}

p strong {
  color: chocolate;
}

p em strong {
  color: red;
}

.beneficios {
  background: #fff;
}

.text-beneficios {
  padding-top: 1.25rem;
  display: inline-block;
  vertical-align: top;
  margin-right: 15%;
  width: 20%;
  font-weight: bold;
}

.itens {
  font-style: italic;
}

.imgbeneficios {
  width: 50%;
}

footer {
  text-align: center;
  height: 1.375rem;
  border: 0.05rem solid black;
  padding: 1.25rem;
  margin: 2.5rem;
  margin-bottom: 0;
}
