@import "style.css";

.footer {
  text-align: center;
  background-image: var(--background-primario);
  border: 0.05rem solid var(--border-color);
}
.logo-footer {
  width: 5.25rem;
}

.footer p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  font-size: 11px;
  color: var(--segundaria-color);
  text-transform: uppercase;
  font-weight: bold;
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: pisca normal infinite 0.8s, escrever normal 5s steps(90) infinite;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .footer p {
    font-size: 13px;
    margin-top: 12px;

    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 851px) {
  .footer p {
    font-size: 13px;
    margin-top: 12px;

    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .logo-footer {
    margin-top: 15px;
  }
  .footer {
    margin-top: 0;
    text-align: center;
  }
  .footer p {
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 15px;
  }
}
